In [13]:
import pandas as pd
import numpy as np
Report = pd.read_csv('IITK_Courses_Report.csv')
report = Report.copy()

In [14]:
print("null values in columns:")
print(report.isnull().sum())

null values in columns:
Student Name      12
Course             3
Marks (%)         13
Attendance (%)    17
dtype: int64

In [15]:
stringcolumns = report.select_dtypes(exclude=['number']).columns
numericalcolumns = report.select_dtypes(include = ['number']).columns

In [19]:
for column in numericalcolumns:
  for i in range(1,len(report)):
    if pd.isnull(report.loc[i,column]):
      before = report.loc[i-1,column]
      after = report.loc[i+1,column]
      if pd.notna(before) and pd.notna(after):
        value = np.sqrt(before*after)
      elif pd.notna(before):
        value = report.loc[before,column]
      elif pd.notna(after):
        value = report.loc[after,column]
      else:
        value = None
      report.loc[i,column] = value

In [20]:
report.to_csv("cleaned_IITK_Courses_Report.csv")